<div class="doctores-concurridos">
  <div
    class="doctores-concurridos__img"
    [ngStyle]="{
      'background-image':
        'url(' +
        'https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' +
        ')'
    }"
  ></div>
  <div class="doctores-concurridos__nombre">
    {{ datadoctor.name }}
  </div>
  <div class="doctores-concurridos__especialidad">
    {{ datadoctor.category }}
  </div>
  <div class="doctores-concurridos__puntuacion">
    <div class="doctores-concurridos__puntuacion--icon">
      <mat-icon>star</mat-icon>
    </div>
    <div class="doctores-concurridos__puntuacion--texto">
      {{ datadoctor.score }}
    </div>
  </div>
  <div class="doctores-concurridos__pacientes">
    <div class="doctores-concurridos__pacientes--icon">
      <mat-icon>people</mat-icon>
    </div>
    <div class="doctores-concurridos__pacientes--texto">
      {{ datadoctor.totalPatients }}
    </div>
  </div>
  <div class="doctores-concurridos__citas-atendidas">
    <div class="doctores-concurridos__citas-atendidas--barra">
      <mat-progress-bar
        mode="determinate"
        value="{{ datadoctor.percentageAppointments }}"
      ></mat-progress-bar>
    </div>
    <div class="doctores-concurridos__citas-atendidas--texto">
      {{ datadoctor.percentageAppointments }} %
    </div>
  </div>
</div>
