<form class="register-form" (ngSubmit)="guardarDoctor()">
  <div class="register-form__title mb-3">Ingrese los datos de los doctores</div>
  <br />
  <mat-form-field class="register-form__input-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input
      type="text"
      matInput
      placeholder="Ex. ejemplo@ejemplo.com"
      [(ngModel)]="correo"
      name="nombre"
    />
  </mat-form-field>
  <br />
  <mat-form-field class="register-form__input-width" appearance="outline">
    <mat-label>Nombre</mat-label>
    <input
      type="text"
      matInput
      placeholder="Ex. Juan"
      [(ngModel)]="nombre"
      name="nombre"
    />
  </mat-form-field>
  <br />
  <mat-form-field class="register-form__input-width" appearance="outline">
    <mat-label>Apellido</mat-label>
    <input
      type="text"
      matInput
      placeholder="Ex. Mamani"
      [(ngModel)]="apellido"
      name="apellido"
    />
  </mat-form-field>
  <br />
  <!-- <mat-form-field class="register-form__input-width" appearance="outline">
    <mat-label>Fecha de nacimiento</mat-label>
    <input
      type="date"
      matInput
      [formControl]="fechaFormControl"
      placeholder="Ex. Juan"
    />
    <mat-error *ngIf="fechaFormControl.hasError('required')">
      Ingresar la fecha de nacimiento <strong>requerido</strong>
    </mat-error>
  </mat-form-field> -->
  <mat-form-field appearance="fill" class="register-form__combo-width">
    <mat-label>Especialidad</mat-label>
    <mat-select (selectionChange)="changeClient($event.value)">
      <mat-option
        *ngFor="let item of doctorsSpecialty"
        [value]="item.specialty_id"
      >
        {{ item.specialty_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <!-- <mat-radio-group
    aria-label="Select an option"
    class="register-form__radio-button-width mb-3"
    [formControl]="sexoSeleccionado"
  >
    <mat-radio-button value="masculino">Masculino</mat-radio-button>
    <mat-radio-button value="femenino">Femenino</mat-radio-button>
  </mat-radio-group>
  <br /> -->
  <button
    type="submit"
    mat-raised-button
    class="button button__primary register-form__button"
  >
    Guardar nuevo doctor
  </button>
</form>
