.circular-button {
  &--profile {
    background-color: $color-primary !important;
  }
  &__letter {
    font-size: 25;
  }
}
.button {
  width: 45rem;
  border-radius: 5rem !important;
  color: $color-primary-white;
  background-color: $color-primary;
}
