.login__width {
  width: 100%;
}
.register-form__input-width {
  width: 100%;
  //background-color: red;
}
.register-form__combo-width {
  width: 100%;
  //background-color: red;
}
.register-form__radio-button-width {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
// input.mat-input-element {
//   color: $color-primary !important;
// }

//defect color by inputs
/* Change label color on focused */
.mat-form-field.mat-focused .mat-form-field-label {
  color: $color-primary !important;
}

/* underline border color on focused */
.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: $color-primary !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $color-primary !important;
}
