//radio buttons
.mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: $color-primary !important;
  }
}

.mat-radio-inner-circle {
  background-color: $color-primary !important;
}

.mat-radio-ripple .mat-ripple-element {
  background-color: rgba($color-primary, 0.5) !important;
}
