.title__logo {
  display: flex;
  font-size: 3rem;
  flex: 1;
  font-family: "Rubik";
  color: white;
  font-family: "montserrat";
  font-weight: 500;
}
.header__title {
  color: $color-primary-black;
  font-size: 3rem;
  font-family: Quicksand;
  font-weight: bold;
}

.graphic-container__title {
  color: $color-primary-black;
  font-size: 2rem;
  font-family: Lato;
  font-weight: bold;
}
