<div class="category-important my-2">
  <div class="category-important__detail">
    <div class="category-important__title">{{ dataci.title }}</div>
    <div class="category-important__price">
      <span class="category-important__price--icon">$</span>
      <div class="category-important__price--content">
        {{ dataci.price }}
      </div>
    </div>
    <div class="category-important__porcentaje">{{ dataci.detail }}</div>
  </div>
  <div class="category-important__icon-container">
    <div class="icon--square"><div class="icon__img--square"></div></div>
  </div>
</div>
