<div class="container">
  <div class="u-display-flex mb-3">
    <div class="u-2-of-3 mr-3">
      <div class="graphic-container">
        <p class="graphic-container__title my-2">
          Ingresos por categoria por mes
        </p>
        <app-ingresos-categoria-meses
          class="graphic-container__graph"
        ></app-ingresos-categoria-meses>
      </div>
    </div>
    <div class="u-1-of-3">
      <div class="graphic-container">
        <p class="graphic-container__title my-2">
          Ingresos por categoria totales
        </p>
        <app-ingresos-categoria
          class="graphic-container__graph"
        ></app-ingresos-categoria>
      </div>
    </div>
  </div>
  <p class="graphic-container__title my-2">Categorias mas importantes</p>
  <div class="u-flex--space-between mb-3">
    <app-categorias-importantes
      *ngFor="let itemci of impCategory"
      [dataci]="itemci"
    ></app-categorias-importantes>
  </div>
  <div class="graphic-container mb-3">
    <p class="graphic-container__title mb-3">Top Medicos por especialidad</p>
    <div class="category-important-title-top-medics mb-1">
      <div class="category-important-title-top-medics__avatar">Avatar</div>
      <div class="category-important-title-top-medics__nombre">
        Nombre Completo
      </div>
      <div class="category-important-title-top-medics__especialidad">
        Especialidad
      </div>
      <div class="category-important-title-top-medics__puntuacion">
        Puntuacion
      </div>
      <div class="category-important-title-top-medics__pacientes">
        Pacientes
      </div>
      <div class="category-important-title-top-medics__citas">
        Citas Atendidas
      </div>
    </div>
    <app-top-medicos
      *ngFor="let itemdoctor of doctor"
      [datadoctor]="itemdoctor"
    ></app-top-medicos>
  </div>
  <div class="u-display-flex mb-3">
    <div class="u-1-of-2 mr-3">
      <div class="graphic-container">
        <p class="graphic-container__title my-2">Atencion por Genero</p>
        <app-atencion-genero
          class="graphic-container__graph"
        ></app-atencion-genero>
      </div>
    </div>
    <div class="u-1-of-2">
      <div class="graphic-container">
        <p class="graphic-container__title mb-3">
          Top Pacientes mas concurridos
        </p>
        <div class="category-important-title mb-1">
          <div class="category-important-title__avatar">Avatar</div>
          <div class="category-important-title__nombre">Nombre Completo</div>
          <div class="category-important-title__citas">Citas</div>
        </div>
        <app-top-pacientes
          *ngFor="let itempatient of patients"
          [datapatient]="itempatient"
        ></app-top-pacientes>
      </div>
    </div>
  </div>
</div>
