<div class="login">
  <div class="login__left">
    <div class="login__img mb-4">
      <img [src]="logo_big" alt="logo-example" class="login__logo" />
    </div>
    <div class="login__subtitle">
      Ingresa para ver como va el progreso de la startup
    </div>
  </div>
  <div class="login__right">
    <div class="login__logo mb-4">
      <img [src]="logotipo" alt="logo-example" class="login__logo" />
    </div>
    <div class="login__title mb-4">Bienvenido de nuevo!</div>
    <div class="login__divisor-detail mb-5">
      <div class="login__divisor-detail--line"></div>
      <div class="login__divisor-detail--text">Ingresa tus datos</div>
      <div class="login__divisor-detail--line"></div>
    </div>
    <form
      class="mb-3 login__form"
      (ngSubmit)="ingresar()"
      [formGroup]="formVar"
    >
      <mat-form-field class="login__width">
        <mat-label>Correo Electronico</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ex. pat@example.com"
          [formControl]="correoFormControl"
        />
        <mat-error
          *ngIf="
            correoFormControl.hasError('email') &&
            !correoFormControl.hasError('required')
          "
        >
          Por favor ingrese un correo correcto
        </mat-error>
        <mat-error *ngIf="correoFormControl.hasError('required')">
          El correo es<strong> requerido</strong>
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="login__width mb-3">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="*****"
          [formControl]="contraseniaFormControl"
        />
        <mat-error *ngIf="contraseniaFormControl.hasError('password')">
          Error al ingresar la contraseña
        </mat-error>
        <mat-error *ngIf="contraseniaFormControl.hasError('required')">
          La constrseña es <strong> requerida</strong>
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button class="button button__primary">
        Ingresar
      </button>
    </form>
  </div>
</div>
