<div class="container">
  <div class="u-flex--space-between">
    <div class="u-1-of-2 pr-3">
      <app-formulario-registro></app-formulario-registro>
    </div>
    <div class="u-1-of-2">
      <div class="register__detail">
        <div class="register__subtitle mb-3">
          Registra a los doctores para que puedan atender a los pacientes
        </div>
        <div class="login__img mb-4">
          <img [src]="register_img" alt="logo-example" class="register__logo" />
        </div>
      </div>
    </div>
  </div>
</div>
