//COLORS
$color-primary: #19d3da;
$color-primary-light-1: #ebfeff;
$color-primary-white: #ffffff;
$color-primary-black: #373a40;
$color-primary-gray: #b4b6bb;
$color-primary-green: #19da7d;
$color-primary-yellow: #f5fa00;
